* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  
  :root {
    
    --color-cocotech: #f1e2cc;
  }
  
  
}

header {
  width: 100%;
  border-bottom: 2px solid #ccc;
  
}

nav {
  display: flex;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
  background-color: #f1e2cc;
  align-items: center;
  margin-top: 10px;
}

nav ul {
  justify-content: center;
  left: 10px;
  background: #f1e2cc;
  display: flex;
  align-items: center;
  size: 10px;
  gap: 30px;
  /* espacio entre ellos */
  margin: 0;
  padding: 0;
}

li {
  background: var(--color-cocotech);
  list-style: none;
  margin-left: 1cm;
  font-style: italic;
  
}


nav ul li a {
  font-size: 14px;
  white-space: nowrap;
  text-decoration: none;
  color: #333;
  
}
.emoji-pc::after {
  content: " 游눹"
  /* content: "游댢" */
}

/* .emoji-programacion::after {
  

} */

.emoji-contacto::after {
  content: " 游"
}


body {
  
  font-family: Arial, sans-serif;
  background: #f1e2cc;
  line-height: 1.6;
  background-color: #f8eee2;
  
  
}

.portada p {
  margin: 20px auto;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 5px;
  text-align: justify;
  color: #ffffff;
  font-size: 20px;
  background-color: rgba(150, 85, 25, 0.411);
  min-width: 300px;
  max-width: 800px;
  line-height: 1.5;
  padding: 20px;
  
  
}

.btn-contacto {
  display: inline-block;
  background-color: #964f19;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.btn-contacto:hover {
  background-color: #f1e2cc;
  color: #333;
}

.titulo{
  text-align: center;
  font-size: 42px;
  margin: 20px 0;
  color: #d77326;
  text-shadow: 2px 2px #000000;
}

h1 span::before {
  content: "_";
  margin-right: 5px;
}
h3 span::before {
  content: "_";
  animation: blink 2s infinite;
}

@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}
img {
  width: 100px;
  height: auto;
  
  
}

p {
  margin: 125px auto;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 10px;
  text-align: justify;
  /* m치s c칩modo de leer */
  color: #333;
  font-size: 20px;
  background-color: rgba(150, 85, 25, 0.411);
  min-width: 300px;
  max-width: 800px;
  /* m치s angosto, lectura f치cil */
  line-height: 1.5;
  padding: 20px;
  /* espacio interno */

}




.efecto-entrada{
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.portada {
  background: url('img/IMAGE\ PORTADA.png') center/cover no-repeat;
  background-attachment: fixed;
  color: white;
  text-align: center;
  padding: 40px 20px;
  border-radius: 10px;
  margin: 40px auto;
    height: 415px;
}




.btn-cta:hover {
  background-color: #f1e2cc;
  color: #333;
}

.bungee-spice-regular {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lilita-one-regular {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.portada-imagen {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  opacity: 0.9;
}

footer ul li a {
    font-size: 14px;
    white-space: nowrap;
    text-decoration: none;
    color: #ffffff;
}


footer {
  display: flex;
  justify-content: space-evenly;  /* columnas repartidas */
  align-items: flex-start;        /* alinear arriba */
  flex-wrap: wrap;                /* que salten abajo en pantallas chicas */
  background-color: rgb(0, 0, 0);
  margin-top: 20px;
  width: 100%;
  padding: 20px;                  /* respiraci칩n */
  box-sizing: border-box;         /* que no se desborde */
}

footer ul {
    display: flex;
    gap: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 100px;
}

.emoji-footer{
    display: flex;
    gap: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

  }


footer p {
  display: flex;
  color: white;
  font-size: 14px;
  text-align: center;

}

.fa-xl {
  font-size: 19px;
  line-height: 1.04167em;
  vertical-align: -.125em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: 20px auto;   /* centrado horizontal */
  color: white;
}
